{% extends "__base__.html" %}
{% block title %}用户{% endblock title %}
{% block beforehead %}
<script>

function initVM(data) {
    $('#vm').show();
    var vm = new Vue({
        el: '#vm',
        data: {
            users: data.users,
            page: data.page
        }
    });
}

$(function(){
    getJSON('/api/users', {
        page: {{ page_index }}
    }, function(err, results) {
        if(err) {
            return fatal(err);
        }
        $('#loading').hide();
        initVM(results);
    });
});
</script>

{% endblock beforehead %}

{% block content %}
<div class="uk-width-1-1 uk-margin-bottom">
    <div class="uk-panel uk-panel-box">
        <ul class="uk-breadcrumb">
            <li><a href="/manage/comments">评论</a></li>
            <li><a href="/manage/blogs">日志</a></li>
            <li class="uk-active"><span>用户</span></li>
        </ul>
    </div>
</div>

<div id="error" class="uk-width-1-1">
</div>

<div id="loading" class="uk-width-1-1 uk-text-center">
    <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
</div>

<div id="vm" class="uk-width-1-1">
    <table class="uk-table uk-table-hover">
        <thead>
            <tr>
                <th class="uk-width-4-10">名字</th>
                <th class="uk-width-4-10">电子邮件</th>
                <th class="uk-width-2-10">注册时间</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="user in users" >
                <td>
                    <span v-text="user.name"></span>
                    <span v-if="user.admin" style="color:#d05"><i class="uk-icon-key"></i> 管理员</span>
                </td>
                <td>
                    <a v-bind:href="'mailto:'+user.email" v-text="user.email"></a>
                </td>
                <td>
                    <span v-text="user.created_at.toDateTime()"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <ul class="uk-pagination">
        <li v-if="page.has_previous"><a v-bind:href="'/manage/users?page=' + (page.page_index - 1)"><i class="uk-icon-angle-double-left"></i></a></li>
        <li v-else class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>

        <li class="uk-disabled" v-for="n in page.page_index-1"><a v-bind:href="'/manage/users?page=' + n"><span v-text="n"></span></a></li>
        <li class="uk-active"><span v-text="page.page_index"></span></li>
        <li class="uk-disabled" v-for="n in page.page_count" v-if="n > page.page_index"><a v-bind:href="'/manage/users?page=' + n"><span v-text="n"></span></a></li>

        <li v-if="page.has_next"><a v-bind:href="'/manage/users?page=' + (page.page_index + 1)"><i class="uk-icon-angle-double-right"></i></a></li>
        <li v-else class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
    </ul>
</div>


{% endblock content %}